
@font-face {
    font-family: 'akzidenz';
    src: url('/assets/fonts/akzidgrocffmd-webfont.eot');
    src: url('/assets/fonts/akzidgrocffmd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/akzidgrocffmd-webfont.woff2') format('woff2'),
         url('/assets/fonts/akzidgrocffmd-webfont.woff') format('woff'),
         url('/assets/fonts/akzidgrocffmd-webfont.ttf') format('truetype'),
         url('/assets/fonts/akzidgrocffmd-webfont.svg#berthold_akzidenz_groteskMd') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: akzidenz, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.slide img {
	max-width:70vw;
	max-height:70vh;
	display:block;
	margin:auto;
}

h1, h2, h3, h4, h5, h6, footer {
	text-transform: uppercase;
	font-weight:normal;
}
h2, h3, h4, h5, h6, footer {
	font-size:15px;
}
.no-nav .fp-controlArrow {
	display:none!important;
}

#cover {
	color:#fff;
	text-align:center;
	cursor:pointer;
}
header {
	z-index:1000;
	position: fixed;
	top:0;
	left:0;
}
header h1 {
	font-size:15px;
	font-weight:normal;
	position: fixed;
	padding:0;
	margin:0;
	top:25px;
	left:25px;
}
header nav {
	position: fixed;
	font-size:15px;
	top:25px;
	right:25px;
}
nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
nav ul li {
	display:inline-block;
	margin-left:25px;
}
header a:link, header a:visited, footer a:link, footer a:visited {
	color:#000;
	text-decoration:none;
}
article {
	max-width:500px;
	margin:auto;
}
article p {
	padding: 0 25px;
}
article h2 {
	text-align:center;
	font-size:1em;
	letter-spacing:2px;
}
.count {
	display:block;
	position: absolute;
	bottom:25px;
	left:25px;
	padding:0;
	margin:0;
	text-align:left;
}
.slide[data-anchor="information"] .fp-tableCell {
	vertical-align: top;
} 
.slide[data-anchor="information"] article {
	margin:75px auto!important;
}
.slide[data-anchor="index"] a:link, .slide[data-anchor="index"] a:visited {
	text-decoration:none;
}
.slide[data-anchor="index"] ul, .slide[data-anchor="index"] li {
	padding:0;
	margin:0;
}
.slide[data-anchor="index"] ul {
	display:block;
	padding:75px 5vw;	
}
.slide[data-anchor="index"] li {
	display:inline-block;
	vertical-align: top;
}
.slide[data-anchor="index"] li:nth-child(odd) {
	margin-right:5vw;
}
.slide[data-anchor="index"] figure {
	margin:0;
	padding:0;
	max-width:40vw;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-filter: grayscale(100%) sepia() hue-rotate(93deg) brightness(100%) saturate(20%) contrast(100%);
	filter: grayscale(100%) sepia() hue-rotate(93deg) brightness(100%) saturate(20%) contrast(100%);
	opacity:.6;
}
.slide[data-anchor="index"] figure img {
	max-width:100%;
	height:auto;
}
.slide[data-anchor="index"] a:hover figure {
	-webkit-filter: none;
	filter: none;
	opacity:1;
}

.metadata {
	text-align:center;
	color:#000;
}
footer {
	position: fixed;
	padding:0;
	margin:0;
	text-align:center;
	width:100vw;
	bottom:25px;
}
footer p {
	padding:0 25px;
	margin:0;
}
.fp-controlArrow {
	top:19vh;
	width:45vw !important;
	background-repeat:no-repeat;
	border:none!important;
	height:70vh;
}
.fp-controlArrow.fp-next {
	background-image: url(/assets/images/right.png);
	background-position: right 25px center;
	right:0;
}
.fp-controlArrow.fp-prev {
	background-image: url(/assets/images/left.png);
	background-position:25px center;
	left:0;
}

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:600px) { 
	.slide[data-anchor="index"] figure {
		width:24.5vw;
	}
	.slide[data-anchor="index"] li:nth-child(2n+2) {
		margin-right:5vw;
	}
	.slide[data-anchor="information"] article {
		margin:150px auto!important;
	}
}
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	.slide[data-anchor="index"] figure {
		width:17.1vw;
	}
}
@media (min-width:1010px) { /* big landscape tablets, laptops, and desktops */ 
	.slide[data-anchor="index"] ul {
		width:975px;
		margin:auto;
		padding:150px 25px;
	}
	.slide[data-anchor="index"] figure {
		width:225px!important;
	}
	.slide[data-anchor="index"] li {
		margin-right:15px!important;
	}

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }